.drawer {
    display: inline-block !important;
    width: 400px;
    padding: 0px;
    display: none;
    border: 1px solid #e0e0e0;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;

    > header {

        background-color: #f5f5f5;
        height: 50px;
        padding: 0 20px;
        line-height: 50px;

        #drawer-icon {
            float: right;
            line-height: 50px;
            cursor: pointer;
        }
    }

    > section {
        height: calc(100% - 140px);
        padding: 20px;
        overflow: auto;
    }

    > footer {
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
        height: 50px;
        padding: 0 20px;
        line-height: 50px;
        position: relative;

        > button {
            position: absolute;
            top: 10px;

            &.close-btn {
                left: 20px;
                background-color: #fff;
                color: #666;
                border: 1px solid #e0e0e0;
            }

            &.ok-btn {
                &.disabled {
                    opacity: 0.5;
                    cursor: no-drop;
                }

                right: 20px;
                background-color: #5bc0de;
            }
        }
    }
}