.note-form {
    .form-fields {
            &.hide {
                display: none;
            }

            margin-bottom: 20px;

            label {
                display: inline-block;
                margin-bottom: 5px;
            }

            input, textarea {
                width: calc(100% - 12px);
            }

            textarea {
                height: 100px;
                max-height: 100px;
                padding: 5px; 
            }
        }
}