$controls-height: 30px;

.notes-list {
    #newnote-button {
        background-color: #5bc0de;

        i {
            padding-top: 2px;
            float: left;
        }

    }

    .notes-options-right {
        float: right;
        //display: inline;
        //margin-left: 400px;
        padding: 2px 0 2px 0;

        span {
            margin-right: 8px;
        }

        select {
            height: $controls-height;
        }

        input {
            height: $controls-height;
            margin-left: 30px;
            line-height: 30px;
            width: 250px;
            border-radius: 2px;
            border: 1px solid #e0e0e0;
            padding: 0 10px;
        }

    }

    .notes-list-container {
        margin-top: 20px;

        .note-list-item {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            background-color: #fff;
            position: relative;

            > i {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }

            > p {
                margin-top: 0;

                .title {
                    margin-right: 20px;
                    max-width: 45%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block; 
                }

                .date {
                    background-color: #00a4d3;
                    border-radius: 3px;
                    border: 0px;
                    font-size: 75%;
                    padding: 2px 22px;
                    text-align: center;
                    color: #fff;
                }
            }

            > div {
                margin-top: 15px;

                .status {
                    float: right;
                    text-transform: uppercase;
                    font-size: 14px;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;

                    &.pending {
                        color: #ffa834;
                    }

                    &.done {
                        color: #72bb53;
                    }

                    > i {
                        margin-right: 5px;
                    }
                }
            }

            .description {
                color: #858C9C;
                max-width: 85%;
                display: inline-block;
                font-size: 13px;
                font-weight: 500;
            }

        }

    }
}