.modal {
    background: #fff;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;

    > header {
        padding: 15px;

        i {
            float: right;
            cursor: pointer;
        }
    }

    > section {
        padding: 15px 15px 30px 15px;

        > p {
            margin: 0;
            color: #666;
            font-size: 14px;
            font-weight: 500;
        }
    }

    > footer {    
        background-color: #f0f0f0;
        padding: 15px;

        .okRemoving {
            float: right;
            background-color: #5bc0de; 
        }

    }
}