.css-review-container {
    background: #e0e0e0;
    border: 1px solid;
    width: 100%;
    height: 100vh;
    display: inline-block;
    position: relative;

    .main-menu {
        background: #fff;
        position: fixed;
        right: 0;
        top: 0;
        padding: 10px 29px;

        .menu-toggle {
            cursor: pointer;
        }

        .menu {
            display: none;
            position: absolute;
            right: 0;
            top: 42px;
            background: #fff;
            text-align: right;

            &.menu-visible {
                display: block;
            }

            .menu-item {
                padding: 10px 20px;
            }
        }
    }

    .options-container {
        background: #f0f0f0;
        border: 1px solid #666;
        display: inline-block;
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .option {
            background: #e0e0e0;
            display: inline-block;
            margin: 5px;
            padding: 20px;
            border: 1px solid #f8f8f8;
            position: relative;

            .option-menu {
                position: absolute;
                left: 0;
                top: 62px;
                border: 1px solid #e0e0e0;
                padding: 2px;
                margin: 0;
                background: #fff;
                
                > li {
                    white-space: nowrap;
                    list-style-type: none;
                    padding: 10px;
                    cursor: pointer;

                    &:hover {
                        background: #f5f5f5;
                    }
                }

            }
        }
    }
}