.overlay {
    &.show {
        display: inline-block;
    }

    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}