.note-details {

    .date {
        color: #00a4d3;
    }

    .description {
        color: #858C9C;
    }

    .status {

        &.pending {
            color: #ffa834;
        }

        &.done {
            color: #72bb53;
        }

    }
    
}