body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Lato', sans-serif;
}

input[type="text"], textarea, select {
    padding: 0 5px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    height: 28px;
    font-size: 90%;
}

button {
    width: 100px;
    border-radius: 3px;
    border: 0px;
    font-size: 75%;
    color: #FFFFFF;
    padding: 8px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .app-header {
        padding: 15px 50px;
        background-color: #fff;
        color: #858C9C;

        i {
            float: left;
            font-size: 150%;
        }

        h1 {
            font-size: 130%;
            margin: 0 0 0 35px;
        }
    }

    .app-content {
        //padding: 50px 50px;
        background-color: #f5f5f5;
        padding-top: 50px;
        width: 811px;
        margin: 0 auto;
        height: calc(100% - 54px);
    }
}